* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header {
    display: flex;
    position: absolute;
    align-items: center;
    top: 2%;
    left: 2%;
    color: white;
}
.logo
{
    width:2rem;
    background-color: black;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.text-part {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.text
{
    font-size: 40px;
  
}

.link {
    background-color: #e84949;
    padding: .8rem 2.3rem;
    margin-top: 3rem;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
    z-index: 3;
    text-decoration: none;
}

.link::before {
    content: " ";
    background-color: #1f1f1f;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s;
    border-radius: 20px; 
    z-index: -1;
}

.link:hover::before {
    transform: scaleX(1);
    border-radius: 20px;
}
.text {
    opacity: 0;
    animation: text-animation 1s forwards;
  }
  
  @keyframes text-animation {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
    